body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
}

.container-fluid {
    padding-top: 8px;
    padding-bottom: 8px;
}

.jumbotron {
    background-color: #fafafa;
}

#footer-separator {
    width: 80%;
    margin: 0 auto;
}

.phone a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

.phone a:hover{
    font-weight: normal;
    text-decoration: none;
}

.phone a:visited{
    text-decoration: none;
    color: #333;
}

#nav-img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    margin-top: -5px;
}

.video {
    margin-top: 40px;
}

#call-to-action {
    font-size: 1.45em;
}

.product {
    margin-bottom:20px;
    margin-top:20px;
}

.spaced-below {
    margin-bottom:25px;
}

.text-center.rental-text {
    margin-bottom:70px;
    margin-top:30px;
}

span.rent-text {
    font-size:24px;
}

.row.rental-items {
    margin-bottom:30px;
}

.text-center.sub-text {
    font-size:12px;
}

.panel-heading a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.panel-heading a:hover{
    font-weight: normal;
    text-decoration: none;
    font-size: 22px;
}

.panel-heading a:visited{
    text-decoration: none;
    color: #333;
}

.instrument-accordion {
    margin:0px;
}

.type-accordion {
    margin-bottom:25px;
}

@media (max-width: 768px) {
      #center-sm-right {
        text-align: center !important; 
       } 
      #center-sm-left {
        text-align: center !important; 
       } 
    }

@media (min-width: 768px) {
      #center-sm-right {
        float: right !important; 
       } 
       #center-sm-left {
        float: left !important;  
       } 
    }

.buttonspacing {

    margin-top: 15px;
}

.section-content {
    padding-right: 30px;
    padding-left: 30px;

}

.navbar {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container.jumbotron{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.subject-name {
    margin-top:10px;
}

.class-note-text {
    margin-right:0px;
    margin-left:0px;
}

.class-note-commment-area {
    margin-right:0px;
    margin-left:10px;
}

.class-note-commment-text{
    margin-right:0px;
    margin-left:15px;
}

.modal-header-adjustments {
    padding:25px;
    border-bottom: none;
}

.modal-body-adjustments {
    margin-top: -25px;
}

.breadcrumb {
    /*margin-left: -20px;
    margin-top: -20px;*/
    background-color: transparent;
}

.breadcrumb>li+li:before {
    content: "\007C\00a0";
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

div.alert.alert-danger.contact-alerts {
    padding: 5px;
    margin-bottom: 5px;
    margin-top:5px;
}

.field-validation-error {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
}