@model IEnumerable<ISStudySpot.Models.Semesters>

@{
    ViewData["Title"] = "Study";

}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                ViewBag.ID = item.SemesterId;
                <a asp-controller="study" asp-action="semesters" asp-route-id="@ViewBag.ID"><p>@Html.DisplayFor(modelItem => item.SemesterName)</p></a>
            }
        </div>
    </div>
</div>
