@model IEnumerable<ISStudySpot.Models.Semesters>

@{
    ViewData["Title"] = "Study";

}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
            @foreach (var item in Model)
            {
                ViewBag.ID = item.SemesterId;
               <div class="col-md-6 buttonspacing">
                   <a asp-controller="study" asp-action="semesters" asp-route-id="@ViewBag.ID">
                        <button type="button" class="btn btn-default btn-block"> 
                            <h4>@Html.DisplayFor(modelItem => item.SemesterName)</h4>
                        </button>
                    </a>
                </div>
            }
            </div>
        </div>
    </div>
</div>
